body {
  background: #e7d9b9;
  color: #dfcbbc;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #d9b9e7;
}

.site-header .navbar-nav .nav-link {
  color: #b9e7d9;
}

.site-header .navbar-nav .nav-link:hover {
  color: #e7d9b9;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
