<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
       <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<title>About</title>
</head>
<body>
 <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Poster Finder</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/about">About</a>
              <a class="nav-item nav-link" href="/FindAPoster">Find A Poster</a>
            </div>
          </div>
        </div>
      </nav>
 </header>
<center><h1 style="font-size: 50px; color: purple;">Team 5 </h1></center>
<center><p style="font-size: 30px;" >This is the website for our final project</p></center>
<center>
  <p style="font-size: 30px;">
    We used various programs among them:
    <div> <span style="font-size: 20px;">Python</span> </div>
    <div> <span style="font-size: 20px;">MongoDB</span> </div>
    <div> <span style="font-size: 20px;">Docker</span> </div>
    <div> <span style="font-size: 20px;">Flask</span> </div>
    <div> <span style="font-size: 20px;">Bootstrap</span> </div>
    <div> <span style="font-size: 20px;"><a href="https://github.com/RaneenAK/PosterFinder">GitHub</span> </div></a>
  </p>
</center>

<center><p style="font-size: 20px;">No one really needs this site but here we are :) </p></center>
<div>
 <h3 style="color: purple;">Difficulties along the way</h3>
 <p>
    <div> <span style="font-size: 30px;">1. Time management with Ramadan Passover and Easter </span> </div>
    <div> <span style="font-size: 30px;">2. Lack of knowledge in many fields required in this project </span> </div>
    <div> <span style="font-size: 30px;">3. Lack of communication and cooperation from team members </span> </div>
    <div> <span style="font-size: 30px;">4. Complicated task at an early stage of learning for inexperienced students </span> </div>
 </p>
</div>
 <div>
 <h3 style="color: purple;">Technical Difficulties</h3>
 <p>
    <div> <span style="font-size: 30px;">1. Installing about a thousand packages into pycharm </span> </div>
    <div> <span style="font-size: 30px;">2. Connecting between all systems and features required </span> </div>
    <div> <span style="font-size: 30px;">3. Lack of experience and hands on experimentation with Docker  </span> </div>
    <div> <span style="font-size: 30px;">4. Completing the register and login forms </span> </div>
 </p>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
